<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>郭小胖的100days</title>
</head>
<body>
<header>郭小胖的100days</header>
<img src="/static/images/000.png" alt="实验楼">
<video width="320" height="240" controls>
  <source src="/static/01.mp4" type="video/mp4">
您的浏览器不支持Video标签。
</video>
<a href="https://v.youku.com/v_show/id_XNDQxNzU1NTQ5Mg==.html?spm=a2h0k.11417342.soresults.dselectbutton&s=bfcaf2df06e143039fef" target="_blank" rel="noopener noreferrer">访问菜鸟教程!</a>
</body>
</html>
